.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  width: 100vw;
  height: 50vw;
  
  background-image: linear-gradient(90deg, rgb(88, 15, 15), rgb(193, 127, 140));
  background-size: cover;
}
body {
  padding: 0;
  margin: 0;
}

.App input {
  margin-top: 25px;
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding-left: 10px;
}

.App h2 {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 40px;
  color: rgb(209, 170, 170);
  height: 10px;
}

.App h3 {
  margin-top: 45px;
  height: 20px;
  width: 500px;
  margin-right: 1350px;
  color: rgb(209, 170, 170);
  font-size: 30px;
}

.App h4 {
  font-size: 20px;
  color: rgb(209, 170, 170);
  margin-right: 1320px;
}

.univResult {
  text-align: left;
  padding-left: 15px;
  margin-left: 40px;
  width: 1420px;
  height: 444px;
  background-color: rgb(209, 170, 170);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.univResult .universityName {
  width: 1350px;
  height: 50px;
  display: flex;
  color: black;
}

.universityItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: lightgrey;
}

#searchBtn {
  cursor: pointer;
  color: white;
  height: 60px;
  width: 60px;
}
